/*!rules for navbar.!*/
.cap {
  background-color: #d40201;
  color: #ffffff;
}
/*!ending rules for navbar.!*/
/*!rules for h1 h2.!*/
.text-header {
  color: #edeef0;
  font-weight: bold;
  font-size: 5vw;
  font-family: "Times New Roman", monospace;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b)";
  /*IE 8*/
  text-shadow: 1px 1px 2px #9c947b;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b);
  /*IE 5.5-7*/
}
/*!ending rules for h1 h2.!*/
/*!rules for section not_major.!*/
.section-not {
  padding-top: 1%;
  padding-bottom: 6.5%;
}
/*!ending rules for section not_major.!*/
/*!rules for transition.!*/
.trans {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/*!ending rules for transition.!*/
h3 {
  margin-top: 0;
  margin-bottom: 2%;
  color: #0705b0;
  font-weight: bold;
  font-family: "Times New Roman", monospace;
  font-size: 4vw;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#02027f)";
  /*IE 8*/
  text-shadow: 1px 1px 2px #02027f;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#02027f);
  /*IE 5.5-7*/
}
p {
  text-align: justify;
  color: #000000;
  font-size: 16px;
}
h4 {
  color: #d40201;
  font-weight: bold;
  font-family: "Times New Roman", monospace;
  font-size: 3vw;
  margin-top: 4%;
  margin-bottom: 2%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#8e1212)";
  /*IE 8*/
  text-shadow: 1px 1px 2px #8e1212;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#8e1212);
  /*IE 5.5-7*/
}
h5 {
  font-weight: bold;
  font-family: "Times New Roman", monospace;
  font-size: 4vw;
  margin-top: 0%;
  margin-bottom: 2%;
}
a {
  text-decoration: none;
  text-align: justify;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
}
a:hover {
  color: #d40201;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  margin-bottom: 5%;
}
/*!navbar.!*/
.navbar-static-top {
  border: 0;
}
.navbar-default .navbar-toggle {
  border-color: #d40201;
  background-color: #d40201;
}
.navbar-default .navbar-toggle:hover {
  border-color: #0705b0;
  background-color: #0705b0;
}
.navbar {
  margin-bottom: 0;
}
.navbar .navbar-brand {
  padding-top: 5px;
}
.navbar .nav {
  margin-top: 18px;
}
.navbar .navbar-right .active {
  border-radius: 4px;
}
.navbar .navbar-right .active a {
  background-color: #d40201;
  color: #ffffff;
}
.navbar .navbar-right .active a:visited {
  background-color: #d40201;
}
.navbar .navbar-right li a {
  color: #d40201;
}
.navbar .navbar-right li a:hover {
  background-color: #d40201;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.navbar .navbar-right li a:visited {
  background-color: #d40201;
}
/*!ending navbar.!*/
/*!header.!*/
.header {
  background-image: url("../images/luxfon.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.header .name h1 {
  margin-top: 35%;
  margin-bottom: 35.8%;
  color: #edeef0;
  font-weight: bold;
  font-size: 5vw;
  font-family: "Times New Roman", monospace;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b)";
  /*IE 8*/
  text-shadow: 1px 1px 2px #9c947b;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b);
  /*IE 5.5-7*/
}
.header .name_2 h2 {
  margin-top: 60%;
  text-align: right;
  color: #edeef0;
  font-weight: bold;
  font-size: 5vw;
  font-family: "Times New Roman", monospace;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b)";
  /*IE 8*/
  text-shadow: 1px 1px 2px #9c947b;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b);
  /*IE 5.5-7*/
}
/*!ending header.!*/
/*!article.!*/
.major {
  padding-top: 5%;
  padding-bottom: 2.5%;
  background-color: #edeef0;
}
/*!ending article.!*/
/*!section-1.!*/
.not_major_1,
.not_major_4 {
  background-color: #0705b0;
  padding-top: 1%;
  padding-bottom: 6.5%;
}
.not_major_1 h5,
.not_major_4 h5 {
  color: #edeef0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b)";
  /*IE 8*/
  text-shadow: 1px 1px 2px #9c947b;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b);
  /*IE 5.5-7*/
}
.not_major_1 p,
.not_major_4 p {
  color: #edeef0;
}
/*!ending section-1.!*/
/*!section-2.!*/
.not_major_2,
.not_major_5 {
  background-color: #d40201;
  padding-top: 1%;
  padding-bottom: 6.5%;
}
.not_major_2 h5,
.not_major_5 h5 {
  color: #edeef0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b)";
  /*IE 8*/
  text-shadow: 1px 1px 2px #9c947b;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#9c947b);
  /*IE 5.5-7*/
}
.not_major_2 p,
.not_major_5 p {
  color: #edeef0;
}
/*!ending section-2.!*/
/*!section-3.!*/
.not_major_3,
.not_major_6 {
  background-color: #edeef0;
  padding-top: 1%;
  padding-bottom: 6.5%;
}
.not_major_3 h5,
.not_major_6 h5 {
  color: #0705b0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#02027f)";
  /*IE 8*/
  text-shadow: 1px 1px 2px #02027f;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#02027f);
  /*IE 5.5-7*/
}
/*!ending section-3.!*/
/*!fuuter.!*/
footer {
  background-color: #f8f8f8;
}
footer .socium,
footer .copyright {
  margin-top: 2%;
  margin-bottom: 2%;
}
footer .socium .fav,
footer .copyright .fav {
  display: inline;
}
footer .socium .fav .fa,
footer .copyright .fav .fa {
  color: #d40201;
}
footer .socium .fav .fa:hover,
footer .copyright .fav .fa:hover {
  color: #0705b0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media (min-width: 320px) and (max-width: 768px) {
  .navbar-brand {
    width: 80%;
    height: auto;
  }
  h3,
  h4,
  h5 {
    font-size: 6vw;
  }
  footer p {
    font-size: 2.9vw;
  }
}
